@page "{id:int}"
@model BPA_Tracker.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.StudentPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.StudentEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.ParentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.ParentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.ParentPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.ParentPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.ParentEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.ParentEmail)
        <dt>
            @Html.DisplayNameFor(model => model.Student.AssignEvents)
        </dt>
        <dd>
            <br /><br />
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>DateTime</th>
                    <th>Location</th>
                </tr>
                @foreach (var item in Model.Student.AssignEvents)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Location)
                    </td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.StudentID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
